<div *ngIf="order === undefined" class="alert alert-warning" role="alert">
    Empty order!
</div>
<div class="confirmation-container" *ngIf="order !== undefined">
    <div class="confirmation-items">
        <h2 class="confirmation-header confirmation-item">Success! </h2>
        <p class="confirmation-item">Thank you, <strong>{{order.name}}</strong>!</p>
        <p class="confirmation-item">Your <strong>${{order.amount}}</strong> order is confirmed!</p>
        <p class="confirmation-item">Your order need a couple of day for shipping</p>
        <a routerLink="/" class="link-dark">Back to product list</a>
    </div>
</div>